* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* means that paddings and borders are included in height and width values */
}
#opener {
    width: 100%;
    height: 100vh;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.quote {
    position: relative;
    top: 300px;
    left: 100px;
    z-index: 1000;
    width: 60%;
}
h2 {
    color: white;
    font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 40px;
    line-height: 1.5;
}
h3 {
    color: white;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 20px;
}
.redmoon {
    background-image: url(images/moon-red.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    background-size: contain;
    position: absolute;
    left:-100px;
    bottom:-100px;
    z-index: 999;
}
.bluemoon {
    background-image: url(images/moon-blue.png);
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    background-size: contain;
    position: absolute;
    right:-200px;
    top:-100px;
}
.graymoon {
    background-image: url(images/moon-bw.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-size: contain; 
    position: absolute;
    right:-50px;
    bottom:-50px;
}
.flex-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image:url(images/galaxy.jpg);
    background-size: cover;
    background-position: bottom;
}
.column {
    width: 33%;
    margin: 200px 50px 100px 50px;
}
ul {
    list-style-type: none;
}
li {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-bottom: 1px dotted gray;
    color: white;
    padding: 10px 0 10px 0;
}
h4 {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 30px;
    color: yellow;
    margin-bottom: 40px;
}
span {
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
}
iframe {
    margin: 300px 50px 100px 50px;
}
#video-section {
    background-image:none;
    background-color: black;
}

/* CSS GRID STUFF */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
/* 
grid area shorthand
grid row start / grid column start / grid row end / grid column end 
*/   

.grid-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
/* center both Horizontal and Vertical using Flex */
    display: flex;
    align-items: center;
    justify-content: center;
}
    .div1 { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url(images/phase1.jpg);
    }
    .div2 { 
        grid-area: 1 / 4 / 2 / 5; 
        background-image: url(images/phase2.jpg);
    }
    .div3 { 
        grid-area: 1 / 5 / 2 / 6; 
        background-image: url(images/phase3.jpg);
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        background-image: url(images/phase4.jpg);
    }
    .div5 { 
        grid-area: 2 / 4 / 3 / 5; 
        background-image: url(images/phase5.jpg);
    }
    .div6 { 
        grid-area: 2 / 5 / 3 / 6; 
        background-image: url(images/phase6.jpg);
    }
    .div7 { 
        grid-area: 3 / 3 / 4 / 4; 
        background-image: url(images/phase7.jpg);
    }
    .div8 { 
        grid-area: 3 / 4 / 4 / 5; 
        background-image: url(images/phase8.jpg);
    }
    .div9 { 
        grid-area: 1 / 1 / 4 / 3; 
        background-image: url(images/phases-all.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 650px;
        /* center both Horizontal and Vertical using Flex */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #phases {
        background-color: black;
        padding: 150px;
    }
.grid-item p {
    color: yellow;
    font-size: 14px;
    font-family: "Inclusive Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}
.div9 p {
    color: yellow;
    font-family: "Kalnia", serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px black;
}

/* POEM SECTION */
#poem-section {
    background-color: black;
    padding: 300px 0;
    background-image: url(images/moon-blue.png);
    background-position: top left;
}
.text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.text h2 {
    font-size: 42px;
}
.text h3 {
    font-size: 16px;
    margin-bottom: 50px;
}
.text p {
    color: white;
    font-family: "Inclusive Sans", sans-serif;
    font-size: 28px;
    line-height: 1.7;
}
.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    margin: 0 10px 0 10px;
    transition: all 1s;
}
.circle:hover {
    background-color: blue;
    cursor:crosshair;
    width: 100px;
}
.word {
    opacity: 0;
    transition: all 1s;
    padding-left: 20px;
    color: yellow;
}
.circle:hover .word {
    opacity: 1;
}
.laugh {
    display: inline-block;
    background-color: green;
    color: yellow;
    font-size: 20px;
    padding: 5px;
    transition: all 2s;
}
.laugh:hover {
    transform: rotate(180deg);
    cursor: pointer;
}
.call {
    display: inline-block;
    background-color: purple;
    color: pink;
    font-size: 20px;
    padding: 5px;
    margin: 0 20px;
    transition: all 1s;
}
.call:hover {
    transform: translate(100px,0) scale(3,3);
    opacity: 0.2;
}
.hid {
    display: inline-block;
    background-color: pink;
    color: blue;
    font-size: 20px;
    padding: 5px;
    transition: all 1s;
}
.hid:hover {
    cursor: pointer;
    background-color: purple;
    transform: translate(-50px,0) scale(50%,50%);
    opacity: 0.1;
}
.button {
    display: block;
    width: 250px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: "Inclusive Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 20px;
    box-shadow: 3px 3px gray;
}
.button:hover {
    color: gray;
    transform: translate(2px,2px);
    box-shadow: 1px 1px gray;
}
#animated-section {
    width: 100%;
    height: 100vh;
    background-image: url(images/stars.jpg);
    background-size: cover;
    animation: movestars 300s infinite;
    position: relative;
    overflow: hidden;
}
@keyframes movestars {
0% {background-position: 0 0;}
100% {background-position: 10000px 0;}
}
.moon1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    animation: movemoon 10s infinite alternate;
    z-index: 90;
}
@keyframes movemoon {
    0% {top: 0; left: 0;}
    50% {top: 500px;}
    100% {left: 1000px;}
}
.moon2 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: rotatemoon 5s infinite alternate;
    z-index: 80;
}
@keyframes rotatemoon {
    0% {
        transform:rotate(0deg);
        bottom: 0;
        right: 0;
        opacity: 1;
    }
    50% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        transform:rotate(360deg);
        bottom: 90%;
        right: 90%;
        opacity: 0.2;
    }
}
.moon3 {
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: movemoon 20s 5s infinite alternate;
    /* animation property: name duration delay iteration-count direction */
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
h1 {
    text-align: center;
    color: white;
    font-family: "Kalnia", serif;
    font-size: 46px;
    margin-top: 40px;
}
nav {
    text-align: center;
}
nav ul li {
    display: inline-block;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 10px;
}
nav a {
    color: pink;
    text-decoration: none;
    background-color: black;
    padding: 5px 10px;
    transition: all 0.5s;
}
nav a:hover {
    color: yellow;
    background-color: gray;
}
html {
    scroll-behavior: smooth;
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 2 / 1 / 3 / 2; height: 400px;}
        .div2 { grid-area: 3 / 1 / 4 / 2; height: 400px;}
        .div3 { grid-area: 4 / 1 / 5 / 2; height: 400px;}
        .div4 { grid-area: 5 / 1 / 6 / 2; height: 400px;}
        .div5 { grid-area: 6 / 1 / 7 / 2; height: 400px;}
        .div6 { grid-area: 7 / 1 / 8 / 2; height: 400px;}
        .div7 { grid-area: 8 / 1 / 9 / 2; height: 400px;}
        .div8 { grid-area: 9 / 1 / 10 / 2; height: 400px;}
        .div9 { grid-area: 1 / 1 / 2 / 2; height: 400px;}
}

@media screen and (max-width: 750px) {
    .flex-area {
        flex-direction: column;
    }
    .column {
        width: 90%;
        margin: 100px auto 100px auto;
    }
    iframe {
        width: 90%;
        margin: 100px auto 100px auto;
    }
}

@media screen and (max-width: 600px) {
    
h2 {
    font-size: 30px;
}
h1 {
    font-size: 36px;
}
nav ul li {
    font-size: 10px;
    margin: 0 5px;
}
}